.estilo1{
    background-color:rgb(30, 30, 222);
    padding: 1rem 0 3rem 0;
}
.estilo2{
    background-image: url(../imagenes/logo.jpeg);
    background-position: center center;
    background-size: cover;
    height: 10vh;
    min-height: 15rem;
}
.central{
    text-align: center;
    color: rgb(3, 3, 13);
}
.seccion {
    background-color: rgb(81, 142, 242);
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.fw-300{
    font-weight: 300;
}
.centrar-texto{
    text-align: center;
}
.d-block{
    display: block !important;
}
.contenido-centrado{
    max-width: 800px;
}
.iconos-nosotros{
    display: flex;
    justify-content: space-between;
}
.icono{
    text-align: center;
    flex-basis: calc(33.3% - 1rem);
}
.boton{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 40%;
    background: rgb(9, 217, 96);
    color: rgb(233, 233, 241);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: .3s ease all;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}
/*
.boton:hover{
    background: rgb(237, 110, 72);
    
}
*/
.boton.uno::after{
    content: "";
    width: 100%;
    height: 100%;
    background: rgb(247, 118, 70);
    position: absolute;
    z-index: 1;
    top: -80PX;
    left: 0;
    transition: .3s ease-in-out all;

}
.boton span{
    position: relative;
    z-index: 2;
    transition: .3s ease all;
}
.boton.uno:hover::after{
    top: 0;
}
